<!DOCTYPE html>
<html lang="en">
  <script crossorigin src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="app-container">
    <div class="app-left">
      <button class="close-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
      </button>
      <div class="app-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
          <line x1="18" y1="20" x2="18" y2="10"/>
          <line x1="12" y1="20" x2="12" y2="4"/>
          <line x1="6" y1="20" x2="6" y2="14"/>       </svg>
        <span>TEST</span>
      </div>
      <ul class="nav-list">
        <li class="nav-list-item ">
        <li class="nav-list-item">
          <a class="nav-list-link" href="/devices">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"/></svg>
            Devices Status
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="/alarms">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"/><polyline points="13 2 13 9 20 9"/></svg>
            Alarms Status
          </a>
        </li>
        <li class="nav-list-item active">
          <a class="nav-list-link" href="/device/{{DeviceName}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
            Device
          </a>
        </li>
        <li class="nav-list-item ">
          <a class="nav-list-link" href="/alarm/{{DeviceName}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
            Alarm
          </a>
        </li>
      </ul>
    </div>
    <div class="app-main">
      <div class="main-header-line">
        <h1>{{DeviceName}}</h1>
        <div class="action-buttons">
          <button class="open-right-area">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"/></svg>
        </button>
        <button class="menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
        </button>
        </div>
      </div>
      <div class="chart-row three">

        {%for i,y in list%} 
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>{{i}}</h2>
              <span id = "{{i}}"> {{y}} </span>
            </div>
            
          </div>
        </div>

        {%endfor%} 

      </div>
      <div class="chart-row two">
        <div class="chart-container-wrapper big">
          <div class="chart-container">
            
            <div id = "line-chart" class = "line-chart" > 
              
            </div>

            <div class="chart-data-details">
              <div class="chart-details-header"></div>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper small">
          <a href= "{{url_for('download_csv')}}">
          <div class="chart-container">
            <div class="chart-container-header">
              <h2>donwload csv</h2>
              <span href="#">This month</span>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
    
  </div>

</body>
</html>


{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

  var trace1 = {
    type: "scatter",
    mode: "lines",
    name: 'trace1',
    x:  {{telemetry['time'] | safe }},
    y:  {{telemetry['temp1'] | safe }},
    line: {color: '#17BECF'}
  }
  var trace2 = {
    type: "scatter",
    mode: "lines",
    name: 'trace2',
    x:  {{telemetry['time'] | safe }},
    y:  {{telemetry['temp2'] | safe }},
    line: {color: '#7F7F7F'}
  }
  var trace3 = {
    type: "scatter",
    mode: "lines",
    name: 'trace3',
    x:  {{telemetry['time'] | safe }},
    y:  {{telemetry['temp3'] | safe }},
    line: {color: '#7F7F7F'}
  }
  var trace4 = {
    type: "scatter",
    mode: "lines",
    name: 'trace4',
    x:  {{telemetry['time'] | safe }},
    y:  {{telemetry['temp4'] | safe }},
    line: {color: '#7F7F7F'}
  }
  var data = [trace1, trace2, trace3, trace4];
            
  var layout = {
    margin: {
      l: 20,
      r: 0,
      b: 40,
      t: 25,
      pad: 3
    },
    plot_bgcolor:'rgba(0,0,0,0)',
    paper_bgcolor:'rgba(0,0,0,0)',
    title: 'chamber', 
  };
  Plotly.newPlot('line-chart', data, layout, {responsive: true});

  var latestLen = 0;
  function updates(){

    $.get("/api/ttest/{{DeviceName}}", function(data){
      //console.log(data['data']);
      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'trace1',
        x:  data['time'],
        y:  data['temp1'],
        //line: {color: '#17BECF'}
      }
      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'trace2',
        x:  data['time'],
        y:  data['temp2'],
        //line: {color: '#7F7F7F'}
      }
      var trace3 = {
        type: "scatter",
        mode: "lines",
        name: 'trace3',
        x:  data['time'],
        y:  data['temp3'],
        //line: {color: '#7F7F7F'}
      }
      var trace4 = {
        type: "scatter",
        mode: "lines",
        name: 'trace4',
        x:  data['time'],
        y:  data['temp4'],
        //line: {color: '#7F7F7F'}
      }
      var data = [trace1, trace2, trace3, trace4];
          
      var layout = {
        margin: {
          l: 20,
          r: 0,
          b: 40,
          t: 25,
          pad: 3
        },
        plot_bgcolor:'rgba(0,0,0,0)',
        paper_bgcolor:'rgba(0,0,0,0)',
        title: 'chamber', 
      };
      console.log("chek.. chek.. 1,5 sec");
      
      if (data['len']!=latestLen){
        latestLen = data['len']
        Plotly.plot('line-chart', data, layout, {responsive: true});
        Plotly.deleteTraces('line-chart',[0,1,2,3]);
      }
      
    });
  }
    updates()
    var intervalId = setInterval(function() {
      updates()
    }, 1500);
      
</script>

<script>

  var laterstChek = {}
        function update(){
          
            $.get("/get/telemetry{{DeviceName}}", function(data){
              if (JSON.stringify(laterstChek) != JSON.stringify(data)){
                laterstChek = data;
                for (const [key, value] of Object.entries(data)) {
                  $("#"+ key).html(value.toFixed(1))
                }
              }       
            });
        }
        update()
        var intervalId = setInterval(function() {
            update()
        }, 1500);

</script>

{% endblock javascripts %}



