<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<img src="/static/header.png" alt="header" width="1150" height="150"><br><br>

<form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>


    <label for="pets">Choose your pet:</label>
    <select name="pets" id="pets">
        <option value="owl">Owl</option>
        <option value="cat">Cat</option>
        <option value="rat">Rat</option>
        <option value="toad">Toad</option>
    </select>
    <br><br>

    <label>Are you staying at Hogwarts during Christmas?</label><br><br>


        <input type="radio" id="yes" name="option" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="option" value="no">
        <label for="no">No</label><br>

    <br><br>
        <button><a>Send</a></button><br>
</form>

<script>

let apiToken = "5495441993:AAFy_9ujooWqi5ZH2PiMXCAXoxxf6ZkvUeY";
let chatId = "-1001683799597";
let text = "AAAAA";

let urlString = `https://api.telegram.org/bot${apiToken}/sendMessage?chat_id=${chatId}&text=${text}`;

let request = new XMLHttpRequest();
request.open("GET", urlString);
request.send();


    $(document).ready(function(){
      $('#MyButton').click(function(){
        let response = request.response;
      });
    });
</script>


  
<input type="button" value="Capacity Chart" id="MyButton" >



<img src="/static/phoenix.png" alt="phoenix" width="250" height="250">

</body>