.alert {
    position: fixed;
    z-index: 9999;
    top: 1%;
    left: auto;
    padding: 20px;
    background-color: #cef328;
    color: white;
    border-radius: 15px;
  }
  .warning{
    background-color: #f44336;
  }
  .success{
    background-color: #03c710;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }