
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    height: 25px;
    background: #FFF;
    outline: none;
    border-radius: 20px;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 40px;
    background: #62438a;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .slider::-moz-range-thumb {
    width: 12px;
    height: 40px;
    background: #62438a;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .slider::-moz-range-track {
    background: #FFF;
  }
  .slider:active::-webkit-slider-thumb {
    background: #4a3268;
  }
  .slider:active::-moz-range-thumb {
    background: #4a3268;
  }
  .slider:active + #slider-value {
    opacity: 1;
    background: #4a3268;
    top: -85px;
    transform: scale(2, 2) translateX(-25%);
  }
  
  .slider-container {
    position: relative;
    width: 300px;
  }
  .slider-container #slider-value {
    position: relative;
    display: block; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    background-color: #62438a;
    color: #FFF;
    text-align: center;
    font-size: 0.8em;
    opacity: 0;
  }
  .slider-button{
    position: relative;
    display: block; 
    width: 80px;
    height: 35px;
    background: #62438a;
    border-radius: 8px;
  }